<% content_for :title, t("admin.dashboard.title") %>

<%= render "stats_cards" %>

<div class="row">
  <div class="col-md-6">
    <%= render "recent_products" %>
  </div>

  <div class="col-md-6">
    <%= render "category_overview" %>
  </div>
</div>

<%= render "low_stock_section" %>
