<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <div class="alert-heading">
      <%= t("errors.template.header", count: object.errors.count,
                                     model: object.class.model_name.human.downcase) %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
