@import "bootstrap-sprockets";
@import "bootstrap";
@import "dropdown";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.center {
  text-align: center;
  
  h1 {
    margin-bottom: 10px;
  }
}

/* header */
#logo {
  color: white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* language switcher */
.navbar-nav li a {
  &.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
  }
}

/* footer */
footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* microposts */
.microposts {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.micropost {
  background-color: #f9f9f9;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;

  p {
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .timestamp {
    color: $gray-light;
    font-size: 0.9em;
  }
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* checkbox styling */
.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* error explanations */
#error_explanation {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  color: #a94442;
  margin-bottom: 20px;
  padding: 15px;

  .alert {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px 15px;
  }

  ul {
    color: #a94442;
    list-style-type: disc;
    margin: 0 0 0 20px;
    padding: 0;

    li {
      margin-bottom: 5px;
    }
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}
